body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Section 1 */

.hero{
    background-image: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 0)60%,
    rgba(0, 0, 0, 0.701)
  ), url("images/roadster-hero-desktop.webp");
    height:100%;
    object-fit: cover;
    background-position: center;
    background-size:cover;
    width:auto;
}

.navbar{
    display:flex;
    padding:10px;
    align-items: center;
    margin:0 40px 0 40px;
    justify-content: space-between;
}

.logo img{
    width:120px;
}

.list1{
    display: flex;
    list-style: none;
    gap:30px;
    font-size: 0.9rem;
    font-weight: 500;
}

.list2{
    display:flex;
    list-style: none;
    gap:30px;
    font-size: 0.9rem;
    font-weight: 500;
}

.menu-button{
    display: none;
}

@media only screen and (max-width: 1400px){
    .list1, .list2{
        display: none;
    }

    .menu-button{
        display:block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    .menu-button button{
        padding:10px 15px 10px 15px;
        border-style: none;
        letter-spacing: 1px;
        font-weight: 600;
        font-size:0.9rem;
        background: transparent;
        border:1.5px solid;
        border-color: rgb(161, 161, 161);
        border-radius: 5px;
        cursor:pointer;
        transition: background-color 0.5s;
        transition: color 0.2s;
    }

    .menu-button button:hover{
        background-color: black;
        color:white;
        border-color: black;
    }
}


@media only screen and (max-width: 768px){
    .list1, .list2{
        display: none;
    }

    .navbar{
        margin:0 20px 0 20px;
        padding:20px 0 0 0;
    }

    .menu-button{
        display:block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    .menu-button button{
        padding:10px 15px 10px 15px;
        border-style: none;
        letter-spacing: 1px;
        font-weight: 600;
        font-size:0.9rem;
        background: transparent;
        border:1.5px solid;
        border-color: rgb(161, 161, 161);
        border-radius: 5px;
        cursor:pointer;
        transition: background-color 0.5s;
        transition: color 0.2s;
    }

    .menu-button button:hover{
        background-color: rgb(105, 105, 105);
        color:white;
        border-color: rgb(105, 105, 105);
    }

}

.list1 li{
    padding:10px;
}

.list1 li:hover{
    background-color: rgb(230, 230, 230);
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.list2 li{
    padding:10px;
}

.list2 li:hover{
    background-color: rgb(230, 230, 230);
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.heading{
    margin:60px auto 0 auto;
    text-align: center;
}

.heading h1{
    font-weight: 500;
    font-size:2.5rem;
}

.figures{
    margin-top: 550px;
}

.columns{
    color:white;
    text-align: center;
    display: flex;
    gap:80px;
    align-items: center;
    justify-content: center;
}

.column1{
    display:flex;
    gap:80px;
}

.f1{
    font-size:1.5rem;
    font-weight: 500;
    margin-bottom:0;
}

.f2{
    font-size:0.8rem;
}

.figures4 button{
    font-family: 'Montserrat', sans-serif;
    padding:8px 50px 8px 50px;
    background: transparent;
    border-style: none;
    border: 3px solid white;
    color:white;
    border-radius: 5px;
    font-weight: 600;
}

.figures4 button:hover{
    font-family: 'Montserrat', sans-serif;
    padding:8px 50px 8px 50px;
    background: white;
    border-style: none;
    border: 3px solid white;
    color:black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

@media only screen and (max-width: 768px){
    .column1{
        display:flex;
        gap:50px;
    }
    .columns{
        display:flex;
        flex-direction:column;
        gap:20px;
    }

    .f1{
        font-size:1rem;
    }

    .button button{
        font-family: 'Montserrat', sans-serif;
        padding:8px 100px 8px 100px;
        background: transparent;
        border-style: none;
        border: 3px solid white;
        color:white;
        border-radius: 5px;
        font-weight: 600;
    }
        
    .button button:hover{
        font-family: 'Montserrat', sans-serif;
        padding:8px 100px 8px 100px;
        background: white;
        border-style: none;
        border: 3px solid white;
        color:black;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.5s;
    }
}

.arrow{
    text-align: center;
    width:100%;
    margin-top:30px;
}

.arrow .fa-solid{
    color:rgb(198, 198, 198);
    font-size: 2rem;
    padding-top:20px;
}

.arrow .fa-solid:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
    cursor:pointer;
}


.black{
    background-color: #080708;
}

.video{
    width:80%;
    margin:0 auto 0 auto;
    text-align: center;
    padding:50px 0 50px 0;
}

video{
    width:80%;
    border-radius:10px;
}

@media only screen and (max-width: 768px){
    video{
        width:100%;
        border-radius:unset;
    }
    .video{
        width:100%;
        padding:50px 0 50px 0;
    }
}

/* Section 1 */

.image2 img{
    height:auto;
    width: 100%;
}

.details{
    color:white;
    margin-top:-200px;
    text-align: center;
}

.details h2{
    font-size:1.5rem;
}

.details p{
    font-size:0.8rem;
}

@media only screen and (max-width: 768px){
    .details h2{
        font-size:0.8rem;
    }
    
    .details p{
        font-size:0.5rem;
    }

    .details{
        color:white;
        margin-top:-50px;
        text-align: center;
        padding:0 20px 30px 20px;
    }
}

.info2{
    background-color: black;
    text-align: center;
    color:white;
    padding-bottom: 20px;
}

.info2 img{
    width:80%;
    max-width: 800px;
    height:auto;
    padding:50px;
    border-radius: 60px;
}

.details1{
    width:60%;
    margin:0 auto;
    padding-bottom: 20px;
}

.details1 h2{
    text-align: left;
    margin-left:180px;
}

.details1 p{
    text-align: left;
    margin-left:180px;
}

@media only screen and (max-width: 768px){
    .details1{
        width:unset;
    }
    .details1 h2{
        font-size:0.8rem;
        margin-left:unset;
        text-align: center;
    }
    .details1 p{
        margin-left:unset;
        text-align: center;
        font-size:0.5rem;
    }  
}

@media only screen and (max-width: 1440px){
    .details1{
        width:unset;
    }
    .details1 h2{
        margin-left:unset;
        text-align: center;
    }
    .details1 p{
        margin-left:unset;
        text-align: center;
    }  
}

.elon img{
    height:auto;
    width: 100%;
}


